{% extends "layout.html" %}
{% block title %}Banknote{% endblock %}
{% block content %}
  <div>
    <h3>{{ title_comments }}</h3>
    {% for comment in comments %}
      <div>
        ID {{comment.id}} -
        City {{comment.city}} - 
        Address {{comment.address}} - 
        Text {{comment.text}} 
        <a href="{{ url_for('detail_banknote', language=language, id=comment.banknote_id) }}">banknote</a> - 

        {% set enabled = 0 %}
        {% set btnToggleComment = 'Off' %}
        {% if comment.enabled == 0 %}
          {% set enabled = 1 %}
          {% set btnToggleComment = 'On' %}
        {%endif%}

        <form method="POST">
          <input type="hidden" value="{{comment.id}}" name="id" />
          <input type="hidden" value="{{enabled}}" name="enabled" />
          <input type="submit" value="{{btnToggleComment}}">
        </form>
      </div>
      {% else %}
        <p>Empty</p>
    {% endfor %}
  </div>
{% endblock %}