{% extends "layout.html" %}
{% block title %}Banknote{% endblock %}
{% block content %}
  <h1>{{title_add_banknote}}</h1>
  <form method="POST" action="/add">
    {{ form.csrf_token }}

    <div>
      {{ form.iso_code.label }} {{ form.iso_code }}
    </div>

    <div>
      {{ form.number.label }} {{ form.number(size=20) }}

      {% if form.number.errors %}
        <ul class="errors">
          {% for error in form.number.errors %}
              <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    <div>
      {{ form.denomination.label }} {{ form.denomination(size=20) }}

      {% if form.denomination.errors %}
        <ul class="errors">
          {% for error in form.denomination.errors %}
              <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    <div><hr /></div>

    <div>
      {{ form.city.label }} {{ form.city(size=20) }}

      {% if form.city.errors %}
        <ul class="errors">
          {% for error in form.city.errors %}
              <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div>
      {{ form.address.label }} {{ form.address(size=20) }}

      {% if form.address.errors %}
        <ul class="errors">
          {% for error in form.address.errors %}
              <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    <div>
      {{ form.text.label }} {{ form.text(size=20) }}

      {% if form.text.errors %}
        <ul class="errors">
          {% for error in form.text.errors %}
              <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <input type="submit" value="Add">
  </form>
{% endblock %}