{% extends "layout.html" %}
{% block title %}Banknote{% endblock %}
{% block content %}
  <h1>Add Banknote</h1>
  <form method="post">
    <div>
      <label>ISO code</label>
      <select name="ISO_code">
        {% for currency in currencies %}
          <option value="{{currency.code}}"{% if currency.code == "RUB" %} selected{% endif %}>{{currency.name.en}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label>Number</label>
      <input type=text name="number" />
    </div>    
    <div>
      <label>Denomination</label>
      <input type=text name="denomination" />
    </div>

    <div><hr /></div>
    
    <div>
      <label>City</label>
      <input type=text name="city" />
    </div>
    <div>
      <label>Address</label>
      <input type=text name="address" />
    </div>
    <div>
      <label>Text</label>
      <input type=text name="text" />
    </div>
    <div>
      <input type="submit" value="Добавить">
    </div>
  </form>
{% endblock %}