{% extends "layout.html" %}
{% block title %}HomePage{% endblock %}
{% block content %}
  <div>
    <div>
      <a href="{{ url_for('add_banknote', language=request.view_args.language) }}">{{btn_add_banknote}}</a>
    </div>

    <div>
      <form method="GET" action="{{ url_for('search', language=request.view_args.language) }}">
        <div>
          {{ form.q.label }} {{ form.q(size=20) }}
    
          {% if form.q.errors %}
            <ul class="errors">
              {% for error in form.q.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
    
        <div>
          {{ form.filter.label }} {{ form.filter }}
        </div>
    
        <input type="submit" value="{{btn_search}}">
      </form>
    </div>
    
    <hr />

    <div>
      <h3>TOP 25</h3>
      <ul>
        <li><a href="{{url_for('index', language=request.view_args.language, type='banknotes')}}">Banknotes</a></li>
        <li><a href="{{url_for('index', language=request.view_args.language, type='comments')}}">Comments</a></li>
      </ul>
      <div>
        <p>Sort:</p>
        <ul>
          <li>
            <a href="{{ url_for('index', language=request.view_args.language, created_at='desc', type=type) }}">The newest</a> / 
            <a href="{{ url_for('index', language=request.view_args.language, created_at='asc', type=type) }}">The oldest</a>
          </li>
          {% if type != 'comments' %}
            <li>
              <a href="{{ url_for('index', language=request.view_args.language, updated_at='desc') }}">updated at (desc)</a> / 
              <a href="{{ url_for('index', language=request.view_args.language, updated_at='asc') }}">updated at (asc)</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% for record in top_list %}
        {% if type == None or type == 'banknotes' %}
          <div>
            id {{record[0]}} - 
            ISO code {{record[1]}} - 
            number <a href="{{ url_for('detail_banknote', language=language, id=record[0]) }}">{{record[2]}}</a> - 
            denomination {{record[3]}}
          </div>
        {%endif%}
        {% if type == 'comments' %}
          <div>
            id {{record[0]}} - 
            city {{record[2]}} - 
            <a href="{{ url_for('detail_banknote', language=language, id=record[1]) }}">banknote</a> - 
            address {{record[3]}}
            text {{record[4]}}
          </div>
        {%endif%}
      {% endfor %}
    </div>
  </div>
{% endblock %}