<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        <a href="{{ url_for('index', language=request.view_args.language) }}">Logo</a>

        <div>
            {% set args = ({}) %}
            {% if request.view_args.id is defined %}
                {% set temp = args.update({'id': request.view_args.id}) %}
            {% endif %}

            <a href="{{ url_for(request.endpoint, language='en', **args) }}">en</a>&nbsp;
            <a href="{{ url_for(request.endpoint, language='ru', **args) }}">ru</a>&nbsp;
        </div>
    </header>
    <div>{% block content %}{% endblock %}</div>
    <footer>
        {% block footer %}
            &copy; 2022
        {% endblock %}
    </footer>
</body>
</html>