{% extends "layout.html" %}
{% block title %}Banknote{% endblock %}
{% block content %}
  <h1>{{title_banknote}} {{banknote.number}}</h1>
  <div>
    <h3>{{ title_info }}</h3>
    {{currency}} {{banknote.iso_code}} - 
    {{number}} {{banknote.number}} - 
    {{denomination}} {{banknote.denomination}}
  </div>
  <div>
    <h3>{{ title_comments }}</h3>

    <form method="POST">
      {{ form.csrf_token }}
  
      <div>
        {{ form.city.label }} {{ form.city(size=20) }}
  
        {% if form.city.errors %}
          <ul class="errors">
            {% for error in form.city.errors %}
                <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
  
      <div>
        {{ form.address.label }} {{ form.address(size=20) }}
  
        {% if form.address.errors %}
          <ul class="errors">
            {% for error in form.address.errors %}
                <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      <div>
        {{ form.text.label }} {{ form.text(size=20) }}
  
        {% if form.text.errors %}
          <ul class="errors">
            {% for error in form.text.errors %}
                <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
  
      <input type="submit" value="{{btn_add}}">
    </form>

    {% for comment in comments %}
      <div>
        City {{comment.city}} - 
        Address {{comment.address}} - 
        Text {{comment.text}} 
      </div>
      {% else %}
        <p>Empty</p>
    {% endfor %}
  </div>
{% endblock %}